{% extends "bootstrap/base.html" %}

{% block title %}审核{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">第三方测试服务平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页</a></li>
                    {% if current_user.is_authenticated() %}
                        {% if priv == '1' or priv == '2' %}
                            <li><a href="contract">测试合同备案</a></li>
                            <li><a href="advice">测试投诉建议</a></li>
                        {% endif %}
                        {% if priv == '3' %}
                            <li><a href="advice">测试投诉建议</a></li>
                        {% endif %}
                        {% if priv == '4' %}
                            <li><a href="proof">提交测试证明</a></li>
                        {% endif %}
                    {% endif %}
                    {% if priv == '5' %}
                        <li class="dropdown all-camera-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                                管理员 <span class="caret"></span>
                                <ul class="dropdown-menu">
                                    <li><a href="audit">测试机构审核</a></li>
                                    <li><a href="supervise">监督与处罚</a></li>
                                    <li><a href="browse">浏览投诉建议</a></li>
                                </ul>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li><a href="logout">{{ name }}，登出</a></li>
                    {% else %}
                        <li><a href="/">请登入</a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}
    <br/><br/><br/><br/>
    <h2 class="text-center">审核</h2>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="tname" class="col-sm-4 control-label">测试机构</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tname }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-4 control-label">机构地址</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[0] }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="etime" class="col-sm-4 control-label">成立时间</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[1] }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="contact" class="col-sm-4 control-label">联系人员</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[2] }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="telephone" class="col-sm-4 control-label">联系电话</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[3] }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="testrange" class="col-sm-4 control-label">测试范围</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[4] }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="rtime" class="col-sm-4 control-label">注册时间</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[5] }}</label>
            </div>
        </div>
        {% if tester|length > 6 %}
        <div class="form-group">
            <label for="image1" class="col-sm-4 control-label">资质文件</label>
            <div class="col-sm-4">
                <a href={{ tester[6] }} class="thumbnail">
                    <img src={{ tester[6] }}>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="setime1" class="col-sm-4 control-label">起止时间</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[7] }}至{{ tester[8] }}</label>
            </div>
        </div>
        {% endif %}
        {% if tester|length > 9 %}
        <div class="form-group">
            <label for="image2" class="col-sm-4 control-label">资质文件</label>
            <div class="col-sm-4">
                <a href={{ tester[9] }} class="thumbnail">
                    <img src={{ tester[9] }}>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="setime2" class="col-sm-4 control-label">起止时间</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[10] }}至{{ tester[11] }}</label>
            </div>
        </div>
        {% endif %}
        {% if tester|length > 12 %}
        <div class="form-group">
            <label for="image3" class="col-sm-4 control-label">资质文件</label>
            <div class="col-sm-4">
                <a href={{ tester[12] }} class="thumbnail">
                    <img src={{ tester[12] }}>
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="setime3" class="col-sm-4 control-label">起止时间</label>
            <div class="col-sm-4">
                <label class="control-label">{{ tester[13] }}至{{ tester[14] }}</label>
            </div>
        </div>
        {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-2">
                <button type="submit" class="btn btn-md btn-primary btn-block">通过</button>
            </div>
            <div class="col-sm-2">
                <a type="button" href="audit" class="btn btn-md btn-primary btn-block">取消</a>
            </div>
        </div>
    </form>
{% endblock %}