{% extends "bootstrap/base.html" %}

{% block title %}测试合同备案{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">第三方测试服务平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">主页</a></li>
                <li><a href="contract">测试合同备案</a></li>
                <li><a href="proof">提交测试证明</a></li>
                <li><a href="advice">测试投诉建议</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
{% endblock %}

{% block content %}
    <p>Contract Record</p>
{% endblock %}