{% extends "bootstrap/base.html" %}

{% block title %}注册{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">第三方测试服务平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li><a href="logout">{{ name }}，登出</a></li>
                    {% else %}
                        <li><a href="/">请登入</a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}
    <br/><br/><br/><br/>
    <h2 class="text-center">新用户注册</h2>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">邮箱</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" placeholder="请输入邮箱地址" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">密码</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password" placeholder="请输入密码" required>
            </div>
        </div>
        <div class="form-group">
            <label for="role" class="col-sm-4 control-label">角色</label>
            <div class="col-sm-4">
                <label class="checkbox-inline">
                    <input type="radio" name="role" value="1" checked>用户方</input>
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="role" value="2">代建方</input>
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="role" value="3">开发方</input>
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="role" value="4" >测试方</input>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">单位</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" placeholder="请输入单位全称" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">地址</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="address" placeholder="请输入单位地址" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">联系人</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="contacts" placeholder="请输入联系人姓名" required>
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">电话</label>
            <div class="col-sm-4">
                <input type="tel" class="form-control" name="telephone" placeholder="请输入联系人电话" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-md btn-primary btn-block">注册</button>
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash">
                        {% for message in messages %}
                            <b><font color="red">{{ message }}</font>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </form>
{% endblock %}