{% extends "bootstrap/base.html" %}

{% block title %}注册{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">第三方测试服务平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}
    <br/><br/><br/><br/>
    <h2 class="text-center">新用户注册</h2>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">邮箱</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" placeholder="请输入邮箱地址" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">密码</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password" placeholder="请输入密码" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-md btn-primary btn-block">注册</button>
            </div>
        </div>
    </form>
{% endblock %}