{% extends "bootstrap/base.html" %}

{% block title %}测试方备案{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">第三方测试服务平台</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">主页</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li><a href="logout">{{ name }}，登出</a></li>
                    {% else %}
                        <li><a href="/">请登入</a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}
    <br/><br/><br/><br/>
    <h2 class="text-center">测试方备案</h2>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">邮箱</label>
            <div class="col-sm-4">
                <label class="control-label">{{ name }}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="estbtime" class="col-sm-4 control-label">成立时间</label>
            <div class="col-sm-4">
                <input class="text" name="estbtime" placeholder="日期：年-月-日">
            </div>
        </div>
    <!--
        <div class="form-group">
            <label for="cert" class="col-sm-4 control-label">资质类型</label>
            <div class="col-sm-4 controls">
                <label class="checkbox-inline">
                    <input name="certtype" value="hascma" type="checkbox">CMA资质
                </label>
                <label class="checkbox-inline">
                    <input name="certtype" value="hascnas" type="checkbox">CNAS资质
                </label>
                <label class="checkbox-inline">
                    <input name="certtype" value="hascert" type="checkbox">其它等效资质
                </label>
            </div>
        </div>
    -->
        <div class="form-group">
            <label for="cmatime" class="col-sm-4 control-label">CMA资质起止</label>
            <div class="col-sm-4">
                <input name="cmastart" type="text" placeholder="起始日期:年-月-日">&nbsp;
                <input name="cmaend" type="text" placeholder="终止日期:年-月-日">
            </div>
        </div>
        <div class="form-group">
            <label for="cmafile" class="col-sm-4 control-label">CMA认证材料</label>
            <div class="col-sm-4">
                <input class="input-file" name="cmafile" type="file">
            </div>
        </div>
        <div class="form-group">
            <label for="cnastime" class="col-sm-4 control-label">CNAS资质起止</label>
            <div class="col-sm-4">
                <input name="cnasstart" type="text" placeholder="起始日期:年-月-日">&nbsp;
                <input name="cnasend" type="text" placeholder="终止日期:年-月-日">
            </div>
        </div>
        <div class="form-group">
            <label for="cnasfile" class="col-sm-4 control-label">CNAS认证材料</label>
            <div class="col-sm-4">
                <input class="input-file" name="cnasfile" type="file">
            </div>
        </div>
        <div class="form-group">
            <label for="certtime" class="col-sm-4 control-label">其它资质起止</label>
            <div class="col-sm-4">
                <input name="certstart" type="text" placeholder="起始日期:年-月-日">&nbsp;
                <input name="certend" type="text" placeholder="终止日期:年-月-日">
            </div>
        </div>
        <div class="form-group">
            <label for="certfile" class="col-sm-4 control-label">CNAS认证材料</label>
            <div class="col-sm-4">
                <input class="input-file" name="certfile" type="file">
            </div>
        </div>
        <div class="form-group">
            <label for="testrange" class="col-sm-4 control-label">资质范围</label>
            <div class="col-sm-4 controls">
                <label class="checkbox-inline">
                    <input name="testrange" value="功能" type="checkbox">功能
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="性能" type="checkbox">性能
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="可靠性" type="checkbox">可靠性
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="易用性" type="checkbox">易用性
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="维护性" type="checkbox">维护性
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="可移植性" type="checkbox">可移植性
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="可用性" type="checkbox">可用性
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="文档审查" type="checkbox">文档审查
                </label>
                <label class="checkbox-inline">
                    <input name="testrange" value="代码审查" type="checkbox">代码审查
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button type="submit" class="btn btn-md btn-primary btn-block">备案</button>
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash">
                        {% for message in messages %}
                            <b><font color="red">{{ message }}</font>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </form>
{% endblock %}